/* #root {
  max-width: 100vw; 
  min-height: 100vh;
  background-color: #80D8CE !important; 
}


.card {
  padding: 2em;
  background-color: #E98C96;
  border-radius: 12px;
  color: #6B8A82; 
  display: inline-block;
  margin: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}
 */
